.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/banner.jpg') center center / cover no-repeat;
  height: 75vh;
  color: white;
}
section h2 {
  color: #2d4b3d;
}
